.idea
build
.gradle
classes
local.properties
*.iml
out
target
frontend/generated

!**/src/main/dev-bundle/webapp/VAADIN/build
/src/main/bundles
/.kotlin/sessions
/.kotlin/metadata
/node_modules
package.json
package-lock.json
vite.generated.ts
vite.config.ts
types.d.ts
tsconfig.json
